################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/C#/Q1/.vs/Q1
/C#/Q2/.vs/Q2
/C#/Q1/obj/Release
